  @import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'fonts/fonts';


@import 'fa/font-awesome.scss';
@import 'owl2/owl.carousel';
@import 'humburger';
@import 'grid/bootstrap-grid';

@import 'gulp_png_sprite';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $flight;
  line-height: $base-line-height;

  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}

p,
pre {
  margin: 0 0 $small-spacing;
}

a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}

hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}

img,
picture {
  max-width: 100%;
  margin: 0;
}

.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}

.container {
  position: relative;

  max-width: $width;
}

header {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;

  color: #fff;
  .header--logo {
    display: block;
    img {
      width: 100%;
      max-width: 245px;
    }
  }
  .top-line {
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    padding-top: 20px;
    padding-bottom: 20px;

    background-color: rgba(#3b4046, .85);
  }
  .nav-line {
    color: #fff;
    background: $gray-dark;
  }
}

.head-phones {
  .main-phone {
    font-size: 28px;

    position: relative;

    display: inline-block;

    width: 100%;
    padding-left: 60px;

    color: #fff;
    span {
      color: $green;
    }
    &:before {
      position: absolute;
      top: 50%;
      left: 0;

      display: inline-block;

      width: 40px;
      height: 40px;
      margin: -20px 0;

      content: '';

      background: url('../img/ico-phone.png') no-repeat center center;
      background-size: cover;
    }
    &:after {
      font-family: FontAwesome;
      font-size: 28px;
      font-weight: 300;
      line-height: 20px;

      position: absolute;
      top: 50%;
      right: 10px;

      display: inline-block;

      width: 20px;
      height: 20px;
      margin: -10px;

      content: '\f107';
      text-align: center;
      vertical-align: middle;

      color: #fff;
    }
  }

  ul {
    display: none;
  }
}

.header-address {
  display: flex;

  align-items: center;
  flex-flow: row nowrap;
  .addres {
    display: inline-block;
    float: left;

    padding-right: 15px;
    span {
      color: $green;
    }
  }


  .header-rout {
    font-size: 12px;

    display: inline-block;
    float: left;

    max-width: 125px;
    padding: 10px 10px 10px 45px;

    color: #fff;
    background: $green;
  }
}

.lang-nav {
  //
}

.callback-wrapp {
  position: relative;

  min-height: 100%;
  padding: 0;
  .callback {
    line-height: 30px;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: inline-block;

    height: 100%;
    padding-top: 10px;

    transition: all .3s;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #fff;
    background: $red;
    &:hover {
      height: 110%;
    }
    .icon-cb {
      display: inline-block;

      width: 31px;
      height: 33px;
      margin-right: 20px;

      content: '';

      background: url('../img/icon-call-back.png') no-repeat center center;
      background-size: cover;
    }
    &:after {
      position: absolute;
      top: calc(100% - 1px);
      right: 0;
      left: 0;

      display: inline-block;

      height: 40px;

      content: '';

      background: url('../img/call-back-short.png') no-repeat center top;
      background-size: contain;
    }
  }
}





nav {
  ul {
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
}

.headnav {
  display: flex;

  width: 100%;

  flex-flow: row nowrap;
  li {
    position: relative;

    display: inline-block;
    a {
      display: inline-block;

      width: 100%;

      color: #fff;
    }
  }
   > li {
     > a {
      font-size: 21px;

      padding: 18px 15px; //text-transform: uppercase;
      &:hover {
        color: $red;
      }
       > a {
        &:hover {
          color: $red;
        }
      }
    }
    &:before {
      position: absolute;
      top: 0;
      right: 50%;
      left: 50%;

      display: inline-block;

      height: 2px;

      content: '';
      transition: all .3s;

      background: $red;
    }
    &.current-menu-item {
      &:before {
        right: 0;
        left: 0;
      }
    }
  }
  .sub-menu {
    position: absolute;
    top: 0;
    left: 0;

    transition: all .3s;
    pointer-events: none;

    opacity: 0;
    background: $gray-dark;
    li {
      display: inline-block;

      width: 100%;
      a {
        padding: 10px 15px;

        background: transparent;
        &:hover {
          background: $red;
        }
      }
    }
  }
  .menu-item-has-children {
    a {
      padding-right: 30px;
    }

    &:after {
      font-family: FontAwesome;
      font-size: 21px;
      line-height: 30px;

      position: absolute;
      top: 50%;
      right: 10px;

      display: inline-block;

      width: 30px;
      height: 30px;
      margin: -15px;

      content: '\f107';
      transition: all .3s;
      text-align: center;
      vertical-align: middle;

      color: #fff;
    }
    &:hover {
      &:after {
        top: 60%;
      }
      .sub-menu {
        z-index: 999;
        top: 100%;

        pointer-events: auto;

        opacity: 1;
      }
    }
  }
}





.page-title-wrapp {
  position: relative; //min-height: 500px;

  filter: drop-shadow(0 10px 5px rgba(100, 100, 100, .5));
}

.page-title-border {
  position: relative; //min-height: 100%;

  padding: 0 1px 1px 1px;

  background: $red;

  clip-path: polygon(0 0, 100% 0, 100% 83%, 50% 100%, 0 83%);
}

.page-title-bg {
  position: relative;

  overflow: hidden;

  width: 100%; //height: 100%;

  background: $gray-dark;

  clip-path: polygon(0 0, 100% 0, 100% 83%, 50% 100%, 0 83%);
}

.head-padd {
  padding-top: 200px;
}


.main-slider {
  position: relative;

  width: 100%; //height: 100%;
  .owl-stage-outer {
    //height: 100%;
    .owl-stage {
      //height: 100%;
      .owl-item {
        //height: 100%;
      }
    }
  }
  .slide {
    position: relative;

    width: 100%;
    min-height: 500px;
    padding-bottom: 100px;
    .slide-bg {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      pointer-events: none;

      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;

      filter: grayscale(100%);

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: inline-block;

        content: '';
        pointer-events: none;

        background: rgba(#000, .5);
      }
    }
    .container {
      position: relative;
      z-index: 2;

      overflow: hidden;

      padding-top: 80px;
      padding-bottom: 50px;
    }
    .slide-content {
      position: relative;
      z-index: 2;
      &:before {
        position: absolute;
        top: 15px;
        right: 100%;
        left: -999px;

        display: inline-block;

        height: 1px;

        content: '';
        pointer-events: none;

        background: $red;
      }
      &:after {
        position: absolute;
        right: -999px;
        bottom: 20px;
        left: 100%;

        display: inline-block;

        height: 1px;

        content: '';
        pointer-events: none;

        background: $red;
      }
    }
    .slide-slog {
      font-size: 28px;

      margin-bottom: 15px;

      text-align: left;

      color: #fff;
    }
    .slide-title {
      font-family: 'Barkentina';
      font-size: 67px;
      line-height: 1.209;

      margin-bottom: 30px;

      text-align: left;

      color: #fff;
      span {
        color: $green;
      }
    }
    .slide-label {
      font-size: 28px;

      display: inline-block;

      width: 100%;
      margin-bottom: 15px;

      text-align: right;

      color: #fff;
    }
    .slide-tel {
      font-family: 'Open Sans';
      font-size: 42px;

      display: inline-block;
      float: right;

      text-transform: uppercase;

      color: #fff;
      span {
        color: $green;
      }
    }
  }
  .owl-nav {
    position: absolute;
    bottom: calc(50% - 100px);
    left: 50%;

    display: inline-block;

    width: 1200px;
    max-width: 100%;
    //height: 0;
    margin: 0 -600px;

    pointer-events: none;
    button.owl-prev,
    button.owl-next {
      font-size: 50px;
      line-height: 50px;

      position: absolute;
      z-index: 5;
      top: 0;

      display: inline-block;

      width: 50px;
      height: 50px;
      margin: -50px 0;
      padding: 0;

      transition: all .3s;
      text-align: center;
      vertical-align: middle;
      pointer-events: auto;

      color: #fff;
      border: 1px solid $red;
      border-radius: 0;
      background: rgba(#000, .5);
      &:after {
        position: absolute;
        top: 50%;

        display: inline-block;

        width: 1px;
        height: 16px;
        margin-top: -14px;

        content: '';

        opacity: .8;
        background: #fff;
      }
      &:before {
        position: absolute;
        top: 50%;

        display: inline-block;

        width: 1px;
        height: 16px;
        margin-bottom: -14px;

        content: '';

        opacity: .8;
        background: #fff;
      }
      &:hover {
        background: $red;
      }
    }
    button.owl-next {
      right: 0;
      &:after {
        right: 50%;

        transform: rotate(-30deg);
      }
      &:before {
        right: 50%;

        transform: rotate(30deg);
      }
    }
    button.owl-prev {
      left: 0;
      &:after {
        right: 50%;

        transform: rotate(30deg);
      }
      &:before {
        right: 50%;

        transform: rotate(-30deg);
      }
    }
  }
  .owl-dots {
    position: absolute;
    right: 0;
    bottom: 85px;
    left: 0;

    display: inline-block;
    overflow: visible;

    text-align: center;
    //height: 0;
    vertical-align: top;
    pointer-events: none;
    .owl-dot {
      position: relative;

      display: inline-block;

      width: 60px;
      height: 15px;
      //padding: 5px !important;
      //margin-right: 5px;
      //margin-left: 5px;

      vertical-align: top;
      pointer-events: auto;

      opacity: .8;
      border: 0;
      border-radius: 0;
      background: transparent;
      &:before {
        position: absolute;
        top: 5;
        right: 5px;
        left: 5px;

        display: inline-block;

        height: 1px;

        content: '';
        transition: all .3s;

        background: $green;
      }
      &:hover {
        opacity: 1;
        &:before {
          height: 3px;
        }
      }
      &.active {
        &:before {
          height: 3px;

          background: $red;
        }
      }
      &:first-child {
        //margin-left: auto;
      }
      &:last-child {
        //margin-right: auto;
      }
    }
  }
}

section {
  //padding: 0 0 $footer;
}
article {
  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}

.section-title {
  font-family: 'Barkentina';
  font-size: 50px;
  font-weight: normal;
  line-height: 1.62;

  position: relative;

  margin-bottom: 40px;
  padding-bottom: 25px;

  text-align: center;
  text-align: center;

  color: #000;

  &:before {
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 170px;
    height: 15px;
    margin: 0 -85px;

    content: '';

    background-image: url(../img/title-decor-red.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
  &.dark {
    color: #fff;
    &:before {
      background-image: url(../img/title-decor-green.png);
    }
  }
}


.section-services {
  background-image: url(../img/bg-services.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  .page-title-wrapp {
    margin-bottom: 20px;
  }
}





footer {
  //height: $footer;
  //margin: $footer_margin auto 0;
  color: #fff;
  background: $gray-dark;
}



// col-xl-# ( ≥1200px)
@include media-breakpoint-down(xl) {
}

// col-lg-# ( ≥992px)
@include media-breakpoint-down(lg) {
}

// col-md-# ( ≥768px)
@include media-breakpoint-down(md) {
}

// col-sm-# ( ≥576px)
@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
}



@import 'import/base64';
@import 'import/print';



//preloader
